<div class="list-group">
    <% @closedTrades.each do |trade| %>

        <li class="list-group-item dropdown">

            <span> <%= trade.created_at.strftime("%I:%M%p") %> </span>
            <% if trade.Option == 'CALL' %>
                <span class="glyphicon glyphicon-chevron-up" ></span>
            <% else %>
                <span class="glyphicon glyphicon-chevron-down" ></span>
            <% end %>

            <span> <%= trade.Azzet.Name %> </span>

            <span> $ <%= trade.Payout %> </span>    

        </li>

    <% end %>
</div>

<!--div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Created</th>
                <th>Account</th>
                <th>Asset</th>
                <th>Option</th>
                <th>Amount</th>
                <th>Onprofit</th>
                <th>Onloss</th>
                <th>Payout</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% @closedTrades.each do |trade| %>
              <tr class="odd gradeX">
                <td><%= trade.created_at.to_s(:short) %></td>
                <td><%= trade.BrokerAccount.name %></td>
                <td><%= trade.Azzet.Name %></td>
                <td><%= trade.Option %></td>
                <td><%= trade.Amount %></td>
                <td><%= trade.OnProfit %></td>
                <td><%= trade.OnLoss %></td>
                <td><%= trade.Payout %></td>
                <td><%= trade.Result %></td>
              </tr>
            <% end %>
        </tbody>
        
    </table>
</div-->
<!-- /.table-responsive -->
