<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= I18n.t('dashboard_new_trade') %></h4>
</div>
<div class="modal-body">
  
    <%= form_for(@trade, remote: true, :url => create_dashboard_path, :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>

    <%= f.hidden_field :User_id, :value => current_user.id %>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_broker_account'), class:'col-sm-3' %>
        <div class="col-sm-5">
          <%= f.collection_select(:BrokerAccount_id, @brokerAccount, :id, :name ,{prompt: I18n.t('dashboard_select_account')},  {class: "form-control", :name => "trade[BrokerAccount_id]", :onchange => 'get_balance(this.value)' } ) %>
        </div>
        <div class="col-sm-4">
          Balance: <span id="lbl_account_balance"></span>
        </div>
    </div>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_strategy'), class:'col-sm-3' %>
        <div class="col-sm-5">

          <%= f.collection_select(:Strategy_id, @strategy, :id, :Name , {prompt: I18n.t('dashboard_select_strategy')}, {class: "form-control", :name => "trade[Strategy_id]", :onchange => 'get_strategy_success_rate(this.value)'}) %>
        </div>  

        <div class="col-sm-4">
          Efectividad: <span id="lbl_strategy_rate"></span>
        </div>
    </div>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_azzet'), class:'col-sm-3' %>
        <div class="col-sm-5">
           <%= f.collection_select(:Azzet_id, @azzets, :id, :Name , {prompt: I18n.t('dashboard_select_azzet')}, {class: "form-control", :name => "trade[Azzet_id]", :onchange => 'get_azzet_success_rate(this.value)'}) %>
        </div>
        <div class="col-sm-4">
          Efectividad: <span id="lbl_azzet_rate"></span>
        </div>
    </div>

    <div class="form-group">
      <%= f.label I18n.t('dashboard_option'), class:'col-sm-3' %>
      <div class="col-sm-9">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <%= radio_button_tag('trade[Option]', 'CALL', :checked => 'checked') %> CALL
            </label>
            <label class="btn btn-danger">
              <%= radio_button_tag('trade[Option]', 'PUT') %> PUT
            </label>
          </div>
      </div>
    </div>

    <div class="form-group ">
        <%= f.label I18n.t('dashboard_amount'), class:'col-sm-3' %>
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.number_field :Amount, class:'form-control', :onchange => 'calcule_percent()' %>
          </div>       
        </div>
        <div class="col-sm-4">
          <span id="lbl_percent_suggested"></span>
        </div>
    </div>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_onprofit'), class:'col-sm-3' %>
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">%</span>
            <%= f.text_field :OnProfit, class:'form-control', type:'text', :onchange => 'calcule_onprofit()' %>
          </div>
        </div>
        <div class="col-sm-4">
          <span id="lbl_onprofit_payout"></span>
        </div>        
    </div>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_onloss'), class:'col-sm-3' %>
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">%</span>
            <%= f.text_field :OnLoss, class:'form-control', type:'text', :onchange => 'calcule_onlost()' %>
          </div>
        </div>
        <div class="col-sm-4">
          <span id="lbl_onlost_payout"></span>
        </div>
    </div>

    <div class="form-group">
        <%= f.label I18n.t('dashboard_position'), class:'col-sm-3' %>
        <div class="col-sm-5">
            <%= f.text_field :Position, class:'form-control', type:'text' %>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <%= f.hidden_field :Payout, :value => '' %>
    <%= f.hidden_field :Result, :value => '' %>
    <%= f.hidden_field :UseMartingale, :value => 'false' %>
    <%= f.hidden_field :UseCompoundInterest, :value => 'false' %>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t('dashboard_button_close') %></button>
      <%= f.submit I18n.t('dashboard_button_create'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
      
<script type="text/javascript">
  var account_balance = 0;
  var maximum_percent_per_trade = 0;

  $.ajax({
    type: "GET",
    url: "/settings/user_settings",
    success: function(data){

      maximum_percent_per_trade = data[0] != null ? data[0].MaximumPercentPerTrade : 0;
    }
  });


function get_balance (accountId) {
  $.ajax({
    type: "GET",
    url: "/broker_accounts/" + accountId + "/current_balance",
    success: function(data){

      account_balance = Math.round(data[0].current_balance);
      $("#lbl_account_balance").text("$ " + account_balance);


      //Calcular la cantidad a invertir sugerida
      amount_suggested = Math.round((maximum_percent_per_trade * account_balance) / 100);
      $("#trade_Amount").val(amount_suggested);
      $("#lbl_percent_suggested").text(maximum_percent_per_trade + " %");
    }
  });
}

function get_strategy_success_rate(strategyId) {
  $.ajax({
    type: "GET",
    url: "/strategies/" + strategyId + "/total_trades",
    success: function(data){

      //won = data[2] != null ? data[2].total_trades : 0;
      //tie = data[1] != null ? data[1].total_trades : 0;
      //lost = data[0] != null ? data[0].total_trades : 0;
      
      won = tie = lost = 0;

      $.each(data, function (i, item) {
        if (item.Result === 'WIN') {
          won = item.total_trades;
        }
        else if (item.Result === 'TIE') {
          tie = item.total_trades;
        }
        else if (item.Result === 'LOST') {
          lost = item.total_trades;
        }
      });

      total_trades = won + tie + lost;
      success_rate = Math.round(((won + tie) / total_trades) * 100);
      
      $("#lbl_strategy_rate").text(success_rate + " %");
    }
  });
}

function get_azzet_success_rate(azzetId) {
  $.ajax({
    type: "GET",
    url: "/azzets/" + azzetId + "/total_trades",
    success: function(data){

      won = data[2] != null ? data[2].total_trades : 0;
      tie = data[1] != null ? data[1].total_trades : 0;
      lost = data[0] != null ? data[0].total_trades : 0;
      total_trades = won + tie + lost;
      success_rate = Math.round(((won + tie) / total_trades) * 100);

      $("#lbl_azzet_rate").text(success_rate + " %");
    }
  });
}

function calcule_percent(){
    amount = $("#trade_Amount").val();
    percent = Math.round((amount / account_balance) * 100);
    
    $("#lbl_percent_suggested").text(percent + " %");
}

function calcule_onprofit(){
    amount = $("#trade_Amount").val();
    onprofit = $("#trade_OnProfit").val();
    payout = Math.round((amount * onprofit) / 100);
    
    $("#lbl_onprofit_payout").text("$ " + payout);
}

function calcule_onlost(){
    amount = $("#trade_Amount").val();
    onprofit = $("#trade_OnLoss").val();
    payout = Math.round((amount * onprofit) / 100);
    
    $("#lbl_onlost_payout").text("$ " + payout);
}

</script>


