
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">

<!-- /.row -->
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Opened Trades
                <div class="pull-right">
                    <%= link_to new_dashboard_path, remote: true,  :data => { :toggle => 'modal', :target => 'myModal' } do %>
                      <button class="btn btn-default btn-xs">New Trade</button>
                    <% end %>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">                         
                        <div id="trade-form" ></div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- /.panel-body -->
            <div class="panel-body">
                <div id='trades'>
                    <%= render 'trade' %>
                </div>
            </div>
                <!-- /.panel -->
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Trades today
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <%= content_tag :div, "", id: "performance_today_chart", data: {trades: today_trades_chart_data } %>
                </div>
                <div class="col-lg-3">
                    <%= content_tag :div, "", id: "performance_today_chart1", data: {trades: today_trades_chart_data } %>
                </div>
                <div class="col-lg-3">
                    Trade: 8 <br>
                    88%
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-6">
 
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Closed Trades
            </div>

            <div class="panel-body">
                <%= render 'closedTrades' %>
            </div>
        </div>      

    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Performance today
            </div>
            <div class="panel-body">
                <%= content_tag :div, "", id: "performance_last_days_profit_chart", data: {trades: profit_chart_data(5.days.ago) } %>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Performance today
            </div>
            <div class="panel-body">
                <%= content_tag :div, "", id: "performance_last_days_trades_chart", data: {trades: trades_chart_data(5.days.ago) } %>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">
    $(document).ready(function() {

        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );

    });
</script>