<<<<<<< HEAD
<!-- Latest compiled and minified CSS -->
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/style.min.css"-->

<!--link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"-->

<script src="https://code.highcharts.com/highcharts.js"></script>
=======
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<%= render "scrypt" %>

>>>>>>> caa438e976c2dece5ae4151528f0ea77a4462bc4

<%= content_tag :div, "", id: "one_month_data", data: {trades: trades_chart_data(1.month.ago) } %>
<%= content_tag :div, "", id: "account_ids", data: {accounts: real_accounts } %>
<div id="today_full_data" data-today=""></div>

<div class="row">
    <div class="col-lg-6 col-md-8">
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <%= link_to new_dashboard_path, remote: true,  :data => { :toggle => 'modal', :target => 'myModal' } do %>
                                  <button class="btn btn-purple btn-labeled fa fa-plus"><%= I18n.t('dashboard_button_trades') %></button>
                                <% end %> 
                        </div>
                        <h3 class="panel-title"><%= I18n.t('dashboard_open_trades') %></h3>
                    </div>
                    <div class="panel-body">
                        <div id='trades'>
                            <%= render 'trade' %>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">                         
                            <div id="trade-form" ></div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-control"></div>
                        <h3 class="panel-title"><%= I18n.t('dashboard_last_30_day_performance') %></h3>
                    </div>
                    <div class="panel-body">
                        <!--div id="month-performance-chart" style="height: 212px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div-->
                        <div id="trades-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-4">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-6">
                <div class="panel panel-info panel-colorful">
                    <div class="panel-body text-center">
                        <div class="media-left">
                           <span class="icon-wrap icon-wrap-xs">
                                <i class="glyphicon glyphicon-send fa-2x"></i>
                            </span>
                            <p class="h3 text-thin media-heading">
                                <span id="lbl-today-performance"></span>
                            </p>
                            <small class="text-uppercase"><%= I18n.t('dashboard_success_rate_today') %></small>
                        </div>
                        <div class="media-body">
                            <div id="today-percent-chart" data-percent="0" class="pie-title-center">
                                <span class="pie-value"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-6">
                <div class="panel panel-purple panel-colorful">
                    <div class="panel-body text-center">
                        <div class="media-left">
                            <span class="icon-wrap icon-wrap-xs">
                                <i class="glyphicon glyphicon-usd fa-2x"></i>
                            </span>
                            <p class="h3 text-thin media-heading">                                
                            </p>
                            <small class="text-uppercase"><%= I18n.t('dashboard_profit_today') %></small>
                        </div>
                        <div class="media-body">
                            <p class="h3 text-thin media-heading">
                                <span id="lbl-today-profit-real"></span>
                                <span class="text-sm mar-no">
                                    (+5%)
                                </span>
                            </p>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-6">
                <div class="panel media pad-all">
                    <div class="media-left">
                       <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                            <i class="fa fa-dollar fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">565</p>
                        <p class="text-muted mar-no"><%= I18n.t('dashboard_profit_today') %></p>
                    </div>
                </div>
                <div class="panel media pad-all">
                    <div class="media-left">
                       <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                            <i class="fa fa-dollar fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">543</p>
                        <p class="text-muted mar-no"><%= I18n.t('dashboard_profit_today') %> Demo</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- /.row -->
<!--div class="row">
    <div class="col-lg-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <%= link_to new_dashboard_path, remote: true,  :data => { :toggle => 'modal', :target => 'myModal' } do %>
                      <button class="btn btn-default btn-xs"><%= I18n.t('dashboard_button_trades') %></button>
                    <% end %>
                </div>
                <h3>
                    <%= I18n.t('dashboard_open_trades') %>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id=''>

                        </div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3>
                    <%= I18n.t('dashboard_week_performance') %>
                </h3>
            </div>
            <div style="overflow:hidden">
                <div id="morris-chart-network" class="morris-full-content" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                </div>
            </div>
            <div class="panel-body bg-primary" style="position:relative;z-index:2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="pad-ver media">
                                    <div class="media-left">
                                        <span class="icon-wrap icon-wrap-xs">
                                            <i class="fa fa-cloud fa-2x"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <p class="h3 text-thin media-heading">30%</p>
                                    <small class="text-uppercase">Server Load</small>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <span class="text-3x text-thin">43</span>
                                    <p>User Online</p>
                                </div>
                            </div>
                        </div>
                        <div class="mar-ver">
                            <small class="pad-btm">
                                <em>* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</em>
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-group bg-trans mar-no">
                            <li class="list-group-item">
                                <div id="demo-chart-visitors" class="pull-right"></div>
                                Visitators
                            </li>
                            <li class="list-group-item">
                                <div id="demo-chart-bounce-rate" class="pull-right"></div>
                                Bounce rate
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success">11</span>
                                Today Sales
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning">20</span>
                                Broken list found
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">


        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                </div>
                <h3>
                    <%= I18n.t('dashboard_today_performance') %>
                </h3>
            </div>

            <div class="panel-body">
             <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div classs="panel panel-success panel-colorful text-center">
                        <div class="panel-body">

                        </div>
                        <div class="bg-light pad-ver">
                            <h4 class="mar-no text-thin">
                                 <%= I18n.t('dashboard_effective') %> 
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div classs="panel panel-success panel-colorful text-center">
                        <div class="panel-body">
                            <div id="demo-sparkline-line"></div>
                        </div>
                        <div class="bg-light pad-ver">
                            <h4 class="mar-no text-thin">
                               <%= I18n.t('dashboard_effective') %> 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div classs="panel panel-success panel-colorful text-center">
                        <div class="panel-body">

                        </div>
                        <div class="bg-light pad-ver">
                            <h4 class="mar-no text-thin">
                                <%= I18n.t('dashboard_effective') %> 
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div classs="panel panel-success panel-colorful text-center">
                        <div class="panel-body">

                        </div>
                        <div class="bg-light pad-ver">
                            <h4 class="mar-no text-thin">
                                <%= I18n.t('dashboard_effective') %> 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>           
            </div>
        </div>
    </div>
</div-->

<script type="text/javascript">


    update_dashboard();

    function update_dashboard()
    {
        get_today_data();
       //update_month_chart();
       //update_today_chart();
       update_today_profit();
       update_today_performance();
       update_trades_chart();
    }

    /*function update_today_chart()
    {
        Morris.Donut({
            element: 'today-performance-chart',
            data: get_today_data(),
            colors: [
                '#c686be',
                '#986291',
                '#ab6fa3'
            ],
            resize:true
        });
    }*/

    function get_today_data()
    {

        /*today_data = $("#one_month_data").data("trades")[31];

        return [
            {"label" :"WON", "value" : today_data.total_won},
            {"label" :"TIE", "value" : today_data.total_tie},
            {"label" :"LOST", "value" : today_data.total_lost},
        ]*/

        var url =  "/dashboard/today_data/1/";

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                alert(data);
                //data = jQuery.parseJSON(data);
                
                //$("#today_full_data").data("today", data);
            }
        });
    }

    function update_today_profit(){

        today_data = $("#one_month_data").data("trades")[31];

        $("#lbl-today-profit-real").text(parseFloat(today_data.profit).toFixed(2));
    }

    function update_today_performance(){

        today_data = $("#one_month_data").data("trades")[31];

        today_trades = today_data.total_won + today_data.total_tie + today_data.total_lost;
        today_success = today_data.total_won + today_data.total_tie;
        today_performance = Math.round((today_success / today_trades) * 100);

        //$("#lbl-today-performance").text(today_performance + " %");

        $('#today-percent-chart').easyPieChart({
            barColor : '#ffffff',
            scaleColor:'#8b5284',
            trackColor : '#8b5284',
            lineCap : 'round',
            lineWidth :8,
            onStep: function(from, to, percent) {
                $(this.el).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        var chart = window.chart = $('#today-percent-chart').data('easyPieChart');
        chart.update(today_performance);
    }

    function update_trades_chart()
    {
        var url =  "/dashboard/trades_data/1";

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                data = jQuery.parseJSON(data);
                
                $("#one_month_data").data();
            }
        });
    }

    function update_month_chart()
    {
        Morris.Area({
            element: 'month-performance-chart',
            data: $('#one_month_data').data('trades'),
            xkey: 'date',
            ykeys: ['total_won', 'total_tie', 'total_lost'],
            labels: ['WON', 'TIE', 'LOST'],
            //gridEnabled: false,
            //gridLineColor: 'transparent',
            behaveLikeLine: true,
            lineColors: ['#045d97'],
            pointSize: 0,
            pointStrokeColors : ['#045d97'],
            lineWidth: 0,
            resize:true,
            hideHover: 'auto',
            fillOpacity: 0.7,
            parseTime:false
        });
    }

    function update_trades_chart()
    {
        var account_ids = format_account_ids();

        var url =  "/statistics/trades_chart/1/?" + account_ids;

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                data = jQuery.parseJSON(data);
                var chart = $('#trades-chart').highcharts();

                
                chart.series[0].update({
                    pointStart: data[0].pointStart,
                    pointInterval: data[0].pointInterval,
                    data: data[0].data
                }, false);

                chart.series[1].update({
                    pointStart: data[1].pointStart,
                    pointInterval: data[1].pointInterval,
                    data: data[1].data
                }, false);

                chart.series[2].update({
                    pointStart: data[2].pointStart,
                    pointInterval: data[2].pointInterval,
                    data: data[2].data
                }, false);

                chart.series[3].update({
                    data: data[3].data
                }, false);
              
                chart.redraw();
            }
        });
    }

    function format_account_ids()
    {
        var accounts = $("#account_ids").data("accounts");

        var formated_id = "";

        for (i = 0; i < accounts.length; i++) { 
            formated_id += "account[]=" + accounts[i] + "&";
        }

        return formated_id;
    }


    $('#trades-chart').highcharts({
        title: {
            text: 'Trade diario'
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: "datetime",
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Total trades'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ''
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series:
        [
            {
                type: 'area',
                name: 'Won',
                color:'#5fa2dd',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'area',
                name: 'Tie',
                color:'#E6EBE0',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'area',
                name: 'Lost',
                color: '#F45B69',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'pie',
                name: 'Total trades',
                data: [],
                center: [100, 80],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }
        ]
    });

</script>