<p id="notice"><%= notice %></p>

<h1>Listing Azzets</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @azzets.each do |azzet| %>
      <tr>
        <td><%= azzet.Type %></td>
        <td><%= azzet.Name %></td>
        <td><%= link_to 'Show', azzet %></td>
        <td><%= link_to 'Edit', edit_azzet_path(azzet) %></td>
        <td><%= link_to 'Destroy', azzet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Azzet', new_azzet_path %>
