<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @azzet.Type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @azzet.Name %>
</p>

<%= link_to 'Edit', edit_azzet_path(@azzet) %> |
<%= link_to 'Back', azzets_path %>
