
<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<%= javascript_tag do %>

  $(function() {
  	$( "#datepicker" ).datepicker();
  	$( "#datepicker_end" ).datepicker();
  	$( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  	$( "#datepicker_end" ).datepicker( "option", "dateFormat", "yy-mm-dd" );


    $(function () {
    $('#grafica1').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Trade diario'
        },
        xAxis: {
            categories: 
              [
            <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>]
            ,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Total trades'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ''
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Win',
            data: [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @win  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "WIN").group("date(created_at)") %> 
                    <% if @win.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@win.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
            ]
        }, {
            name: 'TIE',
            data: [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @tie  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "TIE").group("date(created_at)") %> 
                    <% if @tie.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@tie.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
                ]
        }, {
            name: 'LOST',
            data: [ <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @lost  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "LOST").group("date(created_at)") %> 
                    <% if @lost.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@lost.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
               ]
        }]
    });
});





	

    $('#grafica2').highcharts({
        title: {
            text: 'Balance diario',
            x: -20 //center
        },
        
        xAxis: {
        
            categories: [
            <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
            <% end -%> ]
        },
        yAxis: {
            title: {
                text: 'Total Balance'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Payout',

            data: [<% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @ganado = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("BrokerAccount_id in (?)", [8,9,10]).group("date(created_at)") %> 
                    <% if @ganado.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@ganado.sum(:Payout)).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
             ]

          }]
    });






    $('#grafica3').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Balance Acumulado'
        },
        xAxis: {
            categories: 
              [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>
              ]
            ,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Balance Total'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' No'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [   
                <% @nombres  = BrokerAccount.where("id in (?)", [8,9,10]) %>
                  <% @nombres.each do |d| %> 
                  {
                  name:  '<%= d.name %>',
                  <% if d == @nombres.last %> 
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                        <% @ganado = AccountBalance.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("broker_account_id in (?)", d.id).group("date(created_at)") %> 
                                        <% if @ganado.blank? %> 
                                              <%= 0 %>, 
                                         <% else %>
                                           <% (@ganado.sum(:Balance)).map do |e| %>
                                              <%= e[1] %>,
                                           <% end -%>
                                    <% end %>      
                                <%  end -%>
                          ]}   
                    <% else %>
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                        <% @ganado = AccountBalance.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("broker_account_id in (?)", d.id).group("date(created_at)") %> 
                                        <% if @ganado.blank? %> 
                                              <%= 0 %>, 
                                         <% else %>
                                           <% (@ganado.sum(:Balance)).map do |e| %>
                                              <%= e[1] %>,
                                            <% end -%>
                                        <% end %>      
                                    <%  end -%>
                          ]},
                    <%  end %>
                  <% end %>
        ]
    });



       $('#grafica4').highcharts({
          chart: {
            type: 'column'
        },
        title: {
            text: 'Trades by Asset'
        },
        xAxis: { 
            categories: 
              [
            <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>]
            ,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [ <% @nombres  = Azzet.where("id in (?)", [1,2]) %>
                  <% @nombres.each do |d| %> 
                  {
                  name:  '<%= d.Name %>',
                  <% if d == @nombres.last %> 
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                     <% @ganadas = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Azzet_id in (?)", d.id).where(:result => "WIN") %>
                                     <% @ganado = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Azzet_id in (?)", d.id)%>
                                      <% if @ganado.blank? %> 
                                            <%= 0 %>, 
                                     <% else %>
                                      <%= @result = (Float(@ganadas.count) / Float(@ganado.count)) * 100 %>,
                                      <% end %>
                                <%  end -%>
                          ]}   
                    <% else %>
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                     <% @ganadas = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Azzet_id in (?)", d.id).where(:result => "WIN") %>
                                     <% @ganado = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Azzet_id in (?)", d.id)%>
                                      <% if @ganado.blank? %> 
                                            <%= 0 %>, 
                                         <% else %>
                                            <%= @result = (Float(@ganadas.count) / Float(@ganado.count)) * 100 %>,
                                      <% end %>
                                <%  end -%>
                          ]},
                    <%  end %>
                  <% end %>
               ]
    });






 $('#grafica5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Trade by Strategy'
        },
        xAxis: {
            categories: [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [

        <% @nombres  = Strategy.where("id in (?)", [1,2]) %>
                  <% @nombres.each do |d| %> 
                  {
                  name:  '<%= d.Name %>',
                  <% if d == @nombres.last %> 
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                     <% @ganadas = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Strategy_id in (?)", d.id).where(:result => "WIN") %>
                                     <% @ganado = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Strategy_id in (?)", d.id)%>
                                     <% if @ganado.blank? %> 
                                            <%= 0 %>, 
                                         <% else %>
                                            <%= @result = (Float(@ganadas.count) / Float(@ganado.count)) * 100 %>,
                                      <% end %>
                                <%  end -%>
                          ]}   
                    <% else %>
                        data: [ 
                                 <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                     <% @ganadas = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Strategy_id in (?)", d.id).where(:result => "WIN") %>
                                     <% @ganado = Trade.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("Strategy_id in (?)", d.id)%>
                                       <% if @ganado.blank? %> 
                                            <%= 0 %>, 
                                         <% else %>
                                      <%= @result = (Float(@ganadas.count) / Float(@ganado.count)) * 100 %>,
                                      <% end %>
                                <%  end -%>
                          ]},
                    <%  end %>
                  <% end %>


        ]
    });




});



<% end -%>

<meta charset=utf-8 />
<title>Statistics</title>
</head>
<body>
	<div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>Filters
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               	<p>Start: <input type="text" id="datepicker"></p>
               	<p>End:   <input type="text" id="datepicker_end"></p>
                <%= collection_select(:account, :broker, BrokerAccount.all, :id, :name,{},{:multiple => true})%>
                <%= collection_select(:strategies, :broker, Strategy.all, :id, :Name)%>
                <%= collection_select(:azzet, :broker, Azzet.all, :id, :Name)%>
                <%= content_tag :div, "", id: "performance_today_chart", data: {statistics: fecha } %>

            </div>
            <!-- /.panel-body -->
    </div> 

    <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>Trades
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

            <div id="grafica1"  style="min-width: 310px; height:  400px; margin: 0 auto"></div>
            <div id="grafica2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div id="grafica3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div id="grafica4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div id="grafica5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div id="grafica6" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <!-- /.panel-body -->



        </div> 
</body>
</html>
