
<!--<!DOCTYPE html>
<html>
<head-->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
function filter() {

 var myParams = { broker: [$("#multiple").val().replace("%5B%5D%5B%5D", "[]")] };
 var a = $.param(myParams);
 alert(a);
 window.location.href = "/statistics?" + a;

}

</script>

<%= javascript_tag do %>
  

  $(function() {
  	$( "#datepicker" ).datepicker();
  	$( "#datepicker_end" ).datepicker();
  	$( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  	$( "#datepicker_end" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    
 

    //$(function () {

    $('#grafica1').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Trade diario'
        },
        xAxis: {
            categories: 
              [
            <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>]
            ,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Total trades'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ''
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Won',
            color:'#5fa2dd',
            data: [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @won  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "WON").group("date(created_at)") %> 
                    <% if @won.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@won.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
            ]
        }, {
            name: 'TIE',
            color:'#E6EBE0',
            data: [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @tie  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "TIE").group("date(created_at)") %> 
                    <% if @tie.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@tie.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
                ]
        }, {
            name: 'LOST',
            color: '#F45B69',
            data: [ <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @lost  = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where(result: "LOST").group("date(created_at)") %> 
                    <% if @lost.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@lost.count).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
               ]
        }]
    });

    //});



    $('#grafica2').highcharts({

        title: {
            text: 'Balance diario',
            x: -20 //center
        },
        
        xAxis: {
            categories: [
            <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
            <% end -%> ]
        },
        yAxis: {
            title: {
                text: 'Total Balance'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Payout',
            data: [<% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                    <% @ganado = Trade.where(:User_id => current_user.id).where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("BrokerAccount_id in (?)", params[:broker]).group("date(created_at)") %> 
                     <% if @ganado.blank? %> 
                          <%= 0 %>, 
                     <% else %>
                       <% (@ganado.sum(:Payout)).map do |e| %>
                          <%= e[1] %>,
                        <% end -%>
                    <% end %>      
                <%  end -%>
             ]

          }]
    });





    $('#grafica3').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Balance Acumulado'
        },
        xAxis: {
            categories: 
              [
                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                 <% @categorias.each do |fecha| %>
                ' <%= fecha.created_at.to_date %> ' ,
                <% end -%>
              ]
            ,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Balance Total'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' No'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [   
                <% @nombres  = BrokerAccount.where("id in (?)", [1,2]) %>
                  <% @nombres.each do |d| %> 
                  {
                  name:  '<%= d.name %>',
                  <% if d == @nombres.last %> 
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                        <% @ganado = AccountBalance.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("broker_account_id in (?)", d.id).group("date(created_at)") %> 
                                        <% if @ganado.blank? %> 
                                              <%= 0 %>, 
                                         <% else %>
                                           <% (@ganado.sum(:Balance)).map do |e| %>
                                              <%= e[1] %>,
                                           <% end -%>
                                    <% end %>      
                                <%  end -%>
                          ]}   
                    <% else %>
                        data: [ 
                                <% @categorias = Trade.where(:User_id => current_user.id).where(created_at: "2015-07-15"..Time.zone.now).group("date(created_at)") %>
                                     <% @categorias.each do |fecha| %>
                                        <% @ganado = AccountBalance.where("created_at LIKE (?)", "#{fecha.created_at.to_date}%").where("broker_account_id in (?)", d.id).group("date(created_at)") %> 
                                        <% if @ganado.blank? %> 
                                              <%= 0 %>, 
                                         <% else %>
                                           <% (@ganado.sum(:Balance)).map do |e| %>
                                              <%= e[1] %>,
                                            <% end -%>
                                        <% end %>      
                                    <%  end -%>
                          ]},
                    <%  end %>
                  <% end %>
        ]
    });



    $('#grafica4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Trades by Asset Global (%)'
        },
        xAxis: { 
            categories: 
              [
                  <% @Azzet_id  = Trade.where(:User_id => current_user.id).group(:Azzet_id) %>
                  <% @Azzet_id.each do |d| %> 
                    <% @Azzet_nombre = Azzet.where(:id => d.Azzet_id) %>
                         <% @Azzet_nombre.each do |a| %>
                          '<%= a.Name %>',
                         <% end -%>
                   <% end -%>
                ]
            ,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            /*column: {
                pointPadding: 0.2,
                borderWidth: 0
            }*/
            /*series: {
                stacking: 'normal'
            }*/
        },
        series: [ 
                {
                    name: 'WON',
                    color:'#5fa2dd',
                    data: [
                        
                        <% @categorias = Trade.where(:User_id => current_user.id).group(:Azzet_id)%>
                        <% @categorias.each do |s| %>
                            <% @ganadas = Trade.where(:User_id => current_user.id).where(:result => "WON").where(:Azzet_id => s.Azzet_id)%>
                            <% @creadas = Trade.where(:User_id => current_user.id).where(:Azzet_id => s.Azzet_id).where("result  IN (?)",["WON","TIE","LOST"])%>
                            <% if @creadas.count.blank? %> 
                                    <%= 0 %>, 
                                <% else %>
                                    <%= @result = (Float(@ganadas.count) / Float(@creadas.count)) * 100  %>,
                                <% end %>
                        <% end %>
                    ],
                    dataLabels: {
                        enabled: true,
                        //rotation: -90,
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.0f}', // one decimal
                        //y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '10px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                {
                    name: 'TIE',
                    color:'#E6EBE0',
                    data: [
                        <!--% @categorias = Trade.where(:User_id => current_user.id).group(:Azzet_id)%-->
                        <% @categorias.each do |s| %>
                            <% @empatadas = Trade.where(:User_id => current_user.id).where(:Azzet_id => s.Azzet_id).where(:result => "TIE")%>
                            <% @creadas = Trade.where(:User_id => current_user.id).where(:Azzet_id => s.Azzet_id).where("result  IN (?)",["WON","TIE","LOST"])%>
                            <% if @creadas.count.blank? %> 
                                <%= 0 %>, 
                            <% else %>
                                <%= @result = (Float(@empatadas.count) / Float(@creadas.count)) * 100  %>,
                            <% end %>
                        <% end %>
                    ],
                    dataLabels: {
                        enabled: true,
                        //rotation: -90,
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.0f}', // one decimal
                        //y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '10px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                {
                    name: 'LOST',
                    color: '#F45B69',
                    data: [
                    <!--% @categorias = Trade.where(:User_id => current_user.id).group(:Azzet_id)%-->
                    <% @categorias.each do |s| %>
                        <% @perdidas = Trade.where(:User_id => current_user.id).where(:result => "LOST").where(:Azzet_id => s.Azzet_id)%>
                        <% @creadas = Trade.where(:User_id => current_user.id).where("result  IN (?)",["WON","TIE","LOST"]).where(:Azzet_id => s.Azzet_id)%>
                        <% if @creadas.count.blank? %> 
                            <%= 0 %>, 
                        <% else %>
                            <%= @result = (Float(@perdidas.count) / Float(@creadas.count)) * 100 %>,
                        <% end %>
                        
                    <% end %>
                    ],
                    dataLabels: {
                        enabled: true,
                        //rotation: -90,
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.0f}', // one decimal
                        //y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '10px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]       
    });


    $('#grafica5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Trade by Strategy Global (%)'
        },
        xAxis: {
            categories: [
                  <% @nombres  = Strategy.where(:User_id => current_user.id) %>
                  <% @nombres.each do |d| %> 
                  '<%= d.Name %>',
                  <% end -%>
            ],

            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            /*column: {
                pointPadding: 0.2,
                borderWidth: 0
            }*/
        },
        series: [
                    {
                        name: 'WON',
                        color:'#5fa2dd',
                        data: [
                            <% @categorias = Trade.where(:User_id => current_user.id).group(:Strategy_id)%>
                            <% @categorias.each do |s| %>
                                <% @ganadas = Trade.where(:User_id => current_user.id).where(:result => "WON").where(:Strategy_id => s.Strategy_id)%>
                                <% @creadas = Trade.where(:User_id => current_user.id).where(:Strategy_id => s.Strategy_id).where("result  IN (?)",["WON","TIE","LOST"])%> 
                                <% if @creadas.count.blank? %> 
                                    <%= 0 %>, 
                                <% else %>
                                    <%= @result = (Float(@ganadas.count) / Float(@creadas.count)) * 100 %>,
                                <% end %>
                            <% end %>
                        ],
                        dataLabels: {
                            enabled: true,
                            //rotation: -90,
                            color: '#FFFFFF',
                            align: 'center',
                            format: '{point.y:.0f}', // one decimal
                            //y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '10px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },

                    {
                        name: 'TIE',
                        color:'#E6EBE0',
                        data: [
                            <!--% @categorias = Trade.where(:User_id => current_user.id).group(:Strategy_id)%-->
                            <% @categorias.each do |s| %>
                                <% @ganadas = Trade.where(:User_id => current_user.id).where(:result => "TIE").where(:Strategy_id => s.Strategy_id)%>
                                <% @creadas = Trade.where(:User_id => current_user.id).where(:Strategy_id => s.Strategy_id).where("result  IN (?)",["WON","TIE","LOST"])%> 
                                <% if @creadas.count.blank? %> 
                                    <%= 0 %>, 
                                <% else %>
                                    <%= @result = (Float(@ganadas.count) / Float(@creadas.count)) * 100 %>,
                                <% end %>                            
                            <% end %>
                        ],
                        dataLabels: {
                            enabled: true,
                            //rotation: -90,
                            color: '#FFFFFF',
                            align: 'center',
                            format: '{point.y:.0f}', // one decimal
                            //y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '10px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    {
                        name: 'LOST',
                        color: '#F45B69',
                        data: [
                            <!--% @categorias = Trade.where(:User_id => current_user.id).group(:Strategy_id)%-->
                            <% @categorias.each do |s| %>
                                <% @ganadas = Trade.where(:User_id => current_user.id).where(:result => "LOST").where(:Strategy_id => s.Strategy_id)%>
                                <% @creadas = Trade.where(:User_id => current_user.id).where(:Strategy_id => s.Strategy_id).where("result  IN (?)",["WON","TIE","LOST"])%> 
                                 <% if @creadas.count.blank? %> 
                                    <%= 0 %>, 
                                <% else %>
                                    <%= @result = (Float(@ganadas.count) / Float(@creadas.count)) * 100 %>,
                                <% end %>    
                            <% end %>
                        ],
                        dataLabels: {
                            enabled: true,
                            //rotation: -90,
                            color: '#FFFFFF',
                            align: 'center',
                            format: '{point.y:.0f}', // one decimal
                            //y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '10px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }

        ]
    });


   $('#multiple').selectpicker('selectAll'); 

    

  });

<% end -%>
<style type="text/css">
    .bton{
      background-color:#F67E7D;
      color: white;
      width: 10%;
      height: 10%;
      border-radius: 2px;
      border-style: none;

    }
  .bton:hover{
      background-color:#F67E7D;
      color: white;
      opacity:  0.75;
    }

</style>
<meta charset=utf-8 />
<title>Statistics</title>
</head>
<body>
	<div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>Filters
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="filter_date">
                    <span>Start: <input type="text" id="datepicker"></span>
                    <span>End:   <input type="text" id="datepicker_end"></span>
                        <%= collection_select(:account, :broker, BrokerAccount.all, :id, :name,{},{:class=> "s" ,:multiple => true, :id => "multiple"})%>
                    
                    <a href="javascript:filter();" class="btn btn-default bton" id="filter">Filter</a>
                </div>
               	
                
                

            </div>
            <!-- /.panel-body -->
    </div> 

    <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>Trades
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            <div class="graficas">
                <div>
                    <div id="grafica1"  style="min-width: 310px; height:  400px; margin: 0 auto"></div>
                </div>
                <div>
                     <div id="grafica2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div>
                    <div id="grafica4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div>
                    <div id="grafica5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
            
           
            
            
          
            <!-- /.panel-body -->



    </div> 
<!--</body>
</html-->
