

<% if user_signed_in? %>
    <nav id="mainnav-container">
        <div id="mainnav">
            <div id="mainnav-menu-wrap">
                <div class="nano has-scrollbar">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-header"><%= I18n.t('text_navigation') %></li>
                            <li>
                                <%= link_to :controller => "/dashboard" do %>
                                    <i class="fa fa-dashboard"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_dasboard') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/statistics" do %>
                                    <i class="fa fa-line-chart"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_statistics') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/trades" do %>
                                    <i class="fa fa-bars"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_trades') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li class="list-divider"></li>
                            <li class="list-header"><%= I18n.t('text_catalogs') %></li>
                            <li>
                                <%= link_to :controller => "/strategies" do %>
                                    <i class="fa fa-trophy"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_strategies') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/broker_accounts" do %>
                                    <i class="fa fa-edit"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_account') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/settings" do %>
                                    <i class="fa fa-wrench"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_configuration') %></strong>
                                    </span>
                                <% end %>
                            </li>
                        </ul>
                        <div class="mainnav-widget">
                            <div class="hide-small mainnav-widget-content">
                                <ul class="list-group">
                                    <li class="list-divider"></li>
                                    <li class="pad-ver">
                                        <%= link_to new_feedback_path do %>
                                            <span  class="btn btn-success btn-bock">
                                            <i class="fa fa-comment fa-2x"></i>
                                                <strong>Feedback</strong>
                                            </span>
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>
<% end %>
