<header id="navbar" class="shadow">

    <div id="navbar-container" class="boxed">

        <div class="navbar-header">
            <% if user_signed_in? %>
                <%= link_to "", :controller => "dashboard", :class => "navbar-brand" do %>
                    <%= image_tag("tracking.png", :alt => "My Binary Options", :class => "brand-icon") %>
                    <div class="brand-title">
                        <span class="brand-text">My BOS</span>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="fa fa-navicon fa-lg"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links pull-right">
                 
                <li id="idioma">
                    <% if I18n.locale == I18n.default_locale %>
                        <%= link_to image_tag("united-kingdom.png", :alt => "English", :class => "lang-flag") + "Ingles", :locale=>'en' %>
                    <% else %>                        
                        <%= link_to image_tag("spain.png", :alt => "Spain", :class => "lang-flag") + "Español", :locale=>'es'%>
                    <% end %>
                </li>
                <% if user_signed_in? %>
                    <li id="dropdown-user" class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                            <span class="pull-right">
                                <%= image_tag("icon-profile.png", :alt => "Profile Picture", :class => "img-circle img-user media-object") %>
                            </span>
                            <div class="username hidden-xs"><%= I18n.t('text_welcome') %></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">
                            <ul class="head-list">
                                <li>
                                    <%= link_to edit_user_registration_path do %>
                                        <i class="fa fa-user fa-fw fa-lg"><%= I18n.t('text_profile') %></i>
                                    <% end %>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-question-circle fa-fw fa-lg"><%= I18n.t('text_help') %></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="pad-all text-right">
                                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-warning' %>
                            </div>
                        </div>
                    </li>
                <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success'  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'btn btn-primary'  %></li>
                <% end %>
                </li>
            </ul>
        </div>

    </div>

</header>

<% if user_signed_in? %>
    <nav id="mainnav-container">
        <div id="mainnav">
            <div id="mainnav-menu-wrap">
                <div class="nano has-scrollbar">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-header"><%= I18n.t('text_navigation') %></li>
                            <li>
                                <%= link_to :controller => "/dashboard" do %>
                                    <i class="fa fa-dashboard"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_dasboard') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/statistics" do %>
                                    <i class="fa fa-line-chart"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_statistics') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li class="list-divider"></li>
                            <li class="list-header"><%= I18n.t('text_catalogs') %></li>
                            <li>
                                <%= link_to :controller => "/strategies" do %>
                                <i class="fa fa-briefcase"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_strategies') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/broker_accounts" do %>
                                <i class="fa fa-edit"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_account') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/account_balances" do %>
                                <i class="fa fa-table"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_account_balance') %></strong>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to :controller => "/settings" do %>
                                <i class="fa fa-plug"></i>
                                    <span class="menu-title">
                                        <strong><%= I18n.t('link_configuration') %></strong>
                                    </span>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>
<% end %>


