<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><%= I18n.t('configuration_title') %></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <%= link_to I18n.t('configuration_button_new'), new_setting_path, :class=> "btn btn-default" %>
                      <thead>
                        <tr>
                          <th><%= I18n.t('configuration_table_user') %></th>
                          <th><%= I18n.t('configuration_table_Maximumtradesperday') %></th>
                          <th><%= I18n.t('configuration_table_Maximumpercentpertrade') %></th>
                          <th><%= I18n.t('configuration_table_Maximumpercentlossperday') %></th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @settings.each do |setting| %>
                          <tr>
                            <td><%= setting.user.id %></td>
                            <td><%= setting.MaximumTradesPerDay %></td>
                            <td><%= setting.MaximumPercentPerTrade %></td>
                            <td><%= setting.MaximumPercentLossPerDay %></td>
                            <td><%= link_to I18n.t('configuration_button_show'), setting %></td>
                            <td><%= link_to I18n.t('configuration_button_edit'), edit_setting_path(setting) %></td>
                            <td><%= link_to I18n.t('configuration_button_destroy'), setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<br>


