<p id="notice"><%= notice %></p>

<h1>Listing Broker Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Broker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @broker_accounts.each do |broker_account| %>
      <tr>
        <td><%= broker_account.name %></td>
        <td><%= broker_account.user %></td>
        <td><%= broker_account.broker %></td>
        <td><%= link_to 'Show', broker_account %></td>
        <td><%= link_to 'Edit', edit_broker_account_path(broker_account) %></td>
        <td><%= link_to 'Destroy', broker_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broker account', new_broker_account_path %>
