<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker_account.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @broker_account.user %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @broker_account.broker %>
</p>

<%= link_to 'Edit', edit_broker_account_path(@broker_account) %> |
<%= link_to 'Back', broker_accounts_path %>
