<script type="text/javascript" src="/assets/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/jquery-validate/jquery-validate.bootstrap-tooltip.min.js"></script>
<%= form_for(@strategy, :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>

  <div class="panel-body">

    <% if @strategy.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@strategy.errors.count, "error") %> prohibited this strategy from being saved:</h2>

        <ul>
        <% @strategy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :User_id, :value => current_user.id %>

    <div class="form-group">
        <%= f.label I18n.t('strategies_table_name'), class:'col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_field :Name, class:'form-control' %>
        </div>
    </div>

    <%= f.hidden_field :Type, :value => "Private" %>
  </div>

  <div class="panel-footer text-right">
      <%= link_to 'Back', strategies_path, :class=> "btn btn-default" %>
      <%= f.submit I18n.t('strategies_button_save'), :class=> "btn btn-info" %>
  </div>

<% end %>

<script>
  $("form").validate({
    rules: {
      'strategy[Name]': {required: true}
    },
    tooltip_options: {
      'strategy[Name]': {placement:'top',html:true}
    }
  });
</script>