<%= form_for(@broker) do |f| %>
  <% if @broker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broker.errors.count, "error") %> prohibited this broker from being saved:</h2>

      <ul>
      <% @broker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Url %><br>
    <%= f.text_field :Url %>
  </div>
  <div class="field">
    <%= f.label :Image %><br>
    <%= f.text_field :Image %>
  </div>
  <div class="field">
    <%= f.label :Regulated %><br>
    <%= f.text_field :Regulated %>
  </div>
  <div class="field">
    <%= f.label :MinimumDeposit %><br>
    <%= f.text_field :MinimumDeposit %>
  </div>
  <div class="field">
    <%= f.label :MinimumAmountTrade %><br>
    <%= f.text_field :MinimumAmountTrade %>
  </div>
  <div class="field">
    <%= f.label :MaximunAmountTrade %><br>
    <%= f.text_field :MaximunAmountTrade %>
  </div>
  <div class="field">
    <%= f.label :Expirations %><br>
    <%= f.text_field :Expirations %>
  </div>
  <div class="field">
    <%= f.label :DemoAccount %><br>
    <%= f.text_field :DemoAccount %>
  </div>
  <div class="field">
    <%= f.label :USAFriendly %><br>
    <%= f.text_field :USAFriendly %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
