<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trade.User %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @trade.Broker_id %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @trade.Strategy %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @trade.Asset_id %>
</p>

<p>
  <strong>Option:</strong>
  <%= @trade.Option %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @trade.Amount %>
</p>

<p>
  <strong>Onprofit:</strong>
  <%= @trade.OnProfit %>
</p>

<p>
  <strong>Onloss:</strong>
  <%= @trade.OnLoss %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @trade.Payout %>
</p>

<p>
  <strong>Result:</strong>
  <%= @trade.Result %>
</p>

<p>
  <strong>Usemartingale:</strong>
  <%= @trade.UseMartingale %>
</p>

<p>
  <strong>Usecompoundinterest:</strong>
  <%= @trade.UseCompoundInterest %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
