<p id="notice"><%= notice %></p>


<p>
  <strong>Account:</strong>
  <%= @trade.BrokerAccount.name %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @trade.Strategy.Name %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @trade.Azzet.Name %>
</p>

<p>
  <strong>Option:</strong>
  <%= @trade.Option %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @trade.Amount %>
</p>

<p>
  <strong>Onprofit:</strong>
  <%= @trade.OnProfit %>
</p>

<p>
  <strong>Onloss:</strong>
  <%= @trade.OnLoss %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @trade.Payout %>
</p>

<p>
  <strong>Result:</strong>
  <%= @trade.Result %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
