<!DOCTYPE html>
<html>
<head>
  <title>OptionBinary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container" class="effect mainnav-lg">
    <header id="navbar">
      <div id="navbar-container" class="boxed">
          <%= render 'shared/navigation' %>
      </div>
    </header>

    <div class="boxed">
      <div id="content-container">
        <div class="page-content">
          <div class="row">
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
  </div>


</body>
</html>
